body {
    background-color: #121212;
    color: white;
}
.card { 
    background-color: #1e1e1e;
    border: none;
    color: white;
}

.list-group-item {
    background-color: transparent;
    color: white;
    border-color: #333;
}
img {
    border-radius: 10px;
    margin-top: 10px;
}